.b-busket {
	&__menu {
		text-align: center;
		p {
			font-size: 42px; font-weight: 300; color: $light-gray;
		}
		span {
			display: block;
			font-weight: 300; font-size: 24px; color: $light-gray;
		}
		ul {
			list-style: none;
		}
		li {
			display: inline-block;
			text-align: left;
			margin-right: 40px; padding: 60px 0 20px;
			border-bottom: 8px transparent solid;

			&:last-child { margin-right: 0; }
			&.active {
				border-bottom-color: $red;
				p { color: $white; }
				span { color: #C9C8CA; }
			}
		}
	}
	&__overall {
		background-color: $white;
		&__price {
			padding: 45px 25px 0;
			p {
				color: #27252C; font-size: 36px; line-height: 1.2em;
			}
			span {
				display: inline-block;
				float: right;
			}
		}
		&__submit {
			padding: 25px 15px;
			.b-button {
				width: 100%;
				text-align: center;
			}
		}
	}
}
.b-busket-list {
	background-color: $white;
	padding: 0 15px;
	h3 {
		font-size: 30px; color: #26252C; font-weight: 300;
	}
	&__item {
		@include clearfix;
		position: relative;
		height: 185px;
		padding: 20px 0;
		border-top: 1px #EEEEEE solid;
		&:last-child { border-bottom: 1px #EEEEEE solid;}
		&__image {
			float: left;
			width: 160px; height: 144px;
			margin-right: 20px;
			img {
				display: inline-block;
				width: 100%; height: 100%;
				vertical-align: top;
			}
		}
		&__content {
			float: left;
			position: relative;
			width: 430px; height: 100%;
		}
		&__price {
			position: absolute; left: 0; bottom: 0;
			font-size: 30px; color: $red;
		}
		&__counter {
			position: absolute; bottom: 0; right: 15px;
		}
		&__gift {
			position: absolute; top: 50%;
			transform: translateY(-50%);
			h3 { font-weight: 500; font-size: 30px; line-height: 1.1em; }
			p { font-size: 24px; line-height: 1.1em;}
		}
	}
	.b-counter {
		&__count {
			background-color: #EEEEEE;
		}
		&__controls{
			span {
				background-color: $white;
				border: 1px #EEEEEE solid;
				&:first-child {
					i { background-position: -120px -185px; }
				}
				&:last-child {
					i { background-position: -80px -185px; }
				}
			}
		}
	}
}