.b-slider {
	@include clearfix;

	position: absolute;
	left: 50%;
	margin-left: -519px;
	width: 1050px;
	&__container {
		position: relative;
		width: 640px; height: 350px;
		margin: 5px auto;
		overflow: hidden;
	}
	&__item {
		img {
			width: 500px;
			display: inline-block;
			vertical-align: top;
			border-radius: 10px;
		}
	}
}