.b-form {
	position: relative;
	padding: 34px 30px 30px 30px;
	background-color: #F7F8FA;
	border: 1px #EEEFF2 solid;

	h3 {
		font-size: 21px; font-weight: 300; color: #27252C;
		text-transform: uppercase;
		margin-bottom: 17px;
	}

	&__input {
		position: relative; height: 40px;
		margin-bottom: 20px;

		input {
			@include placeholder { color: #000; }

			position: relative;
			height: 100%; width: 100%;
			padding-left: 10px;
			border: 1px #DDDDDD solid;
			outline: 0;
		}
	}
	&__textarea {
		position: relative;
		height: 80px;
		margin-bottom: 20px;
		textarea {
			width: 100%; height: 100%;
			padding: 10px;
			border: 1px #DDDDDD solid;
			outline: 0;
		}
	}
	&__submit {
		text-align: center;
		.b-button { width: 100%; }
	}
	&__alert {
		text-align: center;
		padding: 20px 0 10px;
		p {
			font-style: italic; font-weight: 300;
			line-height: 20px;
		}
	}
	&__overlay {
		display: none;
		position: absolute; top: 0; left: 0;
		width: 100%;
		color: #26252C;
		text-align: center;
		padding: 30px;
		background-color: #F7F8FA;
		border: 1px #EEEFF2 solid;
		z-index: 20;
		h3 { text-transform: none; }

		.b-table {
			padding-top: 26px;

			h4 { margin-bottom: 4px; }
			&__item {
				position: relative;
				padding:12px 0 9px;
				> div {
					margin-bottom: 7px;
					&:last-child { margin-bottom: 0; }
				}
				&__time {
					font-size: 21px;
				}
				&__day {
					font-style: italic; font-weight: 300;
				}

				.line {
					position: absolute; bottom: 0; left: 50%;
					width: 40px; height: 0;
					margin-left: -20px;
					border-bottom: 1px #ccc solid;
				}
			}

			.b-button__container {
				padding: 16px 0 0;
			}
		}
	}
}