.b-search {
	@include clearfix;

	padding: 20px 40px;
	border: 0 $gray solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	> div {
		float: left;
		&.b-search__sample {
			@include clearfix;
		}
	}
	&__input {
		position: relative;
		width: 500px; height: 60px;
		input {
			position: relative;
			width: 100%; height: 100%;
			color: $gray; font-size: 24px; line-height: 60px;
			padding: 0 20px;
			border: 0;
			outline: 0;
			@include placeholder {
				font-size: 24px; color: #666; font-weight: 300;
			}
		}

	}
	&__submit {
		position: relative;
		width: auto; height: 60px;
		button {
			position: relative;
			width: 60px; height: 60px;
			vertical-align: top;
			background-color: $white;
			border: 0;
			outline: 0;
			&:before {

				display: inline-block;
				width: 36px; height: 36px;
				content: "";
				background-image: $ui-img;
				background-repeat: no-repeat;
				background-position: -1px -301px;
			}
		}
	}
	&__sample {
		padding-top: 10px;
		p {
			font-size: 24px; color: $light-gray; font-weight: 300;
		}
	}
}