.b-counter {
	text-align: center;
	width: 200px; height: 60px;
	overflow: hidden;

	&__controls {
		width: 100%;
		span {
			display: inline-block;
			position: relative;
			width: 60px; height: 60px;
			background-color: $red;
			border-radius: 50%;
			cursor: pointer;
			i {
				@include all-center;

				display: inline-block;
				width: 31px; height: 31px;
				background-image: $ui-img;
			}
			&:first-child {
				float: left;
				i { background-position: -44px -185px; }
			}
			&:last-child {
				float: right;
				i { background-position: 0 -185px;}
			}
		}
	}
	&__count {
		@include inline-pos(middle);

		display: inline-block;
		width: 60px; height: 60px;
		text-align: center;
		background-color: $white;
		border-radius: 50%;
		span {
			color: #27252C; font-size: 24px; line-height: 1.2em;
		}
	}

	&.collapse {
		.b-counter__controls {
			span {

				&:first-child { display: none; }
				&:last-child {
					background-color: $white;
					i {
						background-position: 0 -221px;
					}
				}
			}
		}
		.b-counter__count {
			display: none;
		}
	}
}