.b-footer {
	position: relative;
	border-top: 1px $light-gray solid;

	&__social {
		@include db-tabs;

		position: relative;
		height: 140px;
		padding: 30px 40px;
		line-height: 0;

		&__text {
			position: relative;
			height: 100%;
			&:before {
				display: inline-block;
				height: 100%;
				content: "";
				vertical-align: middle;
			}
			p {
				display: inline-block;
				vertical-align: middle;
				font-size: 24px; color: $white; line-height: 1.3em;
			}
		}
		&__icons {
			> * {
				margin-left: 10px;
				&:first-child { margin-left: 0;}
			}
		}
	}
	&__bottom {
		@include clearfix;
	}
	&__map {
		@include inline-pos(middle);

		height: 60px;
		text-align: center;
		background-color: $white;

		a {
			color: #000; font-size: 24px; text-decoration: none; font-weight: 300;
			line-height: 1.3em;

			&:hover { text-decoration: underline; }
		}
	}
}