.b-hamburger {
	position: relative;
	display: inline-block;
	width: 60px; height: 60px;
	font-size: 0;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0; padding: 0;
	appearance: none;
	border: 1px $white solid;
	border-radius: 50%;
	cursor: pointer;
	transition: background 0.3s;
	&:focus {
		outline: none;
	}
	&.is-active {
		background-color: #cb0032;
		span {
			background: none;
			&:before, &:after {  transition-delay: 0s, 0.3s; }
			&:before {
				top: 0;
  				transform: rotate(45deg);
			}
			&:after {
				bottom: 0;
  				transform: rotate(-45deg);
			}
		}
	}
	span {
		display: block;
		position: absolute; top: 28px; left: 15px; right: 15px;
		height: 3px;
		background: white;
		transition: background 0s 0.3s;
		&:before, &:after {
			position: absolute; left: 0;
			display: block;
			width: 100%;
			height: 3px;
			background-color: #fff;
			content: "";
			transition-duration: 0.3s, 0.3s;
  			transition-delay: 0.3s, 0s;
		}
		&:before {
			top: -8px;
			transition-property: top, transform;
		}
		&:after {
			bottom: -8px;
			transition-property: bottom, transform;
		}
	}
	&__container {
		padding-top: 5px;
	}
}