.b-nav {
}

.b-nav-sub {
	padding-top: 5px;
	ul { list-style: none; }
	li {
		margin-bottom: 18px;
		a {
			position: relative;
			display: block;
			font-size: 36px; line-height: 2em; text-decoration: none; font-weight: 300; color: $light-gray;
			padding-left: 30px;

			&:after {
				position: absolute; top: 50%; right: 30px;
				display: inline-block;
				width: 12px; height: 23px;
				content: "";
				margin-top: -12px;
				background-image: $ui-img;
				background-position: 0 -147px;
				background-repeat: no-repeat;
				opacity: 0.8;
			}
			&:hover {
				background-color: #3D3B42;
				&:after {
					opacity: 1;
				}
			}
		}
		&.active {
			a {
				background-color: #3D3B42;
				&:after {
					opacity: 1;
				}
			}
		}
	}
}