.b-features-list {
	padding: 33px 40px 30px;
	border-bottom: 1px $gray solid;
	ul {
		list-style: none;
	}
	li {
		@include clearfix;

		position: relative;
		height: 80px;
		margin-bottom: 27px;

		&:last-child { margin-bottom: 0; }
		> div {
			position: relative;
			float: left;
			height: 100%;
		}
	}
	&__icon {
		width: 80px;
		margin-right: 13px;
	}
	&__text {
		width: 390px; height: 100%;

		p {
			font-size: 24px; line-height: 1.3em; color: $white; font-weight: 300;
		}
	}

	.b-icon {
		&.rounded {
			width: 80px; height: 80px;
		}
		vertical-align: middle;
		background-color: $white;
	}
}