.container {
	@include susy-clearfix;
	position: relative;
	width: $container-width;
	margin: 0 auto;
}

.b-header {
	.b-section__col {
		@include span(4 of 12 inside no-gutters);


	}
}

// vertical middle utility
.vam {
	position: relative;
	> * {
		display: block;
		position: absolute; top: 50%; left: 0;
		width: 100%;
		transform: translateY(-50%);
	}
}