h1 {
	font-family: $secondary-font;
}

h2 {
	font-size: 42px; color: $white;
	line-height: 1.4em;
}
h3 {
	font-weight: 400; font-size: 36px; color: $white;
	line-height: 1.2em;
	margin-bottom: 17px;
}
h4 {
	color: $white; font-size: 24px; line-height: 1.2em; font-weight: 300;
}

a {
	text-decoration: underline;
	color: $link-color;
	&:hover {
		text-decoration: none;
	}
}

