.b-icon {
	display: inline-block;
	background-image: $ui-img;
	background-repeat: no-repeat;
	&.social {
		//@include transition(all, 0.3s, ease-out);

		position: relative; top: 0;
		width: 80px; height: 80px;

		//&:hover { top: 15px; }

		&.inst { background-position: -86px -48px; }
		&.vk { background-position: 0px -48px; }
	}
	&.phone {
		width: 17px; height: 30px;
		background-position: 0 -347px;
	}
	&.time {
		width: 30px; height: 30px;
		background-position: -19px -347px;
	}
	&.rounded {
		position: relative;
		width: 60px; height: 60px;
		border-color: $white;
		border-width: 1px;
		border-style: solid;
		border-radius: 50%;
		background-image: none;
		i {
			@include all-center;

			display: inline-block;
			background-image: $ui-img;
		}
		&.busket {
			cursor: pointer;
			i {
				width: 26px; height: 25px;
				background-position: 0 0;
			}

			&:hover, &.filled {
				background-color: $red;
			}
			&.active {
				background-color: $white;
				i {
					height: 26px;
					background-position: -30px 0px;
				}
			}
		}
	}
	&.weight {
		width: 22px; height: 24px;
		background-position: -38px -263px;
	}
	&.energy {
		width: 29px; height: 25px;
		background-position: 0 -263px;
	}
}