.b-button {
	display: inline-block;
	color: $white; font-size: 24px; font-weight: 300;
	line-height: 60px;
	padding: 0 90px;
	cursor: pointer;
	background-color: $red;
	border-radius: 30px;
	border: none;
}