.b-catalogue {
    padding: 20px 15px;
    &__title {
        text-align: center;
        padding: 30px 0 5px;
        h2 {
            font-weight: 400;
        }
        p { font-size: 24px; line-height: 1.3em; color: $light-gray; font-weight: 300; }
    }
	&__item {
        padding: 20px 0; margin-bottom: 10px;
        background-color: #3D3B42;
        &:last-child { margin-bottom: 0; }
        h4 {
            line-height: 1.1em;
            margin-top: 3px; margin-bottom: 10px;
        }
        p {
            font-size: 18px; line-height: 1.3em; color: $light-gray; font-weight: 300;
        }
        &__wrapper {
            @include clearfix;

            position: relative;
        }
		&__image {
            float: left;
            width: 260px; height: 234px;
            overflow: hidden;
            box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.7);
            img {
                display: inline-block;
                width: 100%; height: 100%;
                vertical-align: top;
            }
        }
        &__content {
            float: left;
            width: 350px;
            padding: 0 25px 0 20px;
        }
        &__busket {
            @include clearfix;

            position: absolute; right: 0; bottom: 0;
            width: 350px;
            padding:0 20px 0 25px;
        }
        &__counter {
            float: right;
        }
        &__price {
            float: left;
            span {
                font-size: 30px; line-height: 60px; color: $white;
            }
        }
	}

    &.expanded {
        padding: 20px 0;
        .b-catalogue {
            &__item {
                padding: 20px 0; margin-bottom: 10px;
                border-top: 1px #3D3B42 solid;
                background-color: transparent;
                &:first-child { border-top-color: transparent; }
                h4 {
                    line-height: 1.1em;
                    margin-top: 3px; margin-bottom: 10px;
                }
                p {
                    font-size: 18px; line-height: 1.3em; color: $light-gray; font-weight: 300;
                }

                &__wrapper {
                    margin: 0 40px;
                }
                &__image {
                    float: none;
                    width: 560px; height: 504px;
                    margin-bottom: 25px;
                    box-shadow: none;
                }
                &__content {
                    float: none;
                    width: 100%;
                    padding: 0; margin-bottom: 15px;
                    h4 { font-size: 36px; }
                    p { font-size: 24px;}
                }
                &__busket {
                    @include clearfix;

                    position: relative; left: 0; bottom: auto; right: auto;
                    width: 100%;
                    padding: 0; margin-bottom: 20px;
                    > div {
                        float: left;
                        margin-right: 40px;
                    }
                }
                &__counter {
                    float: right;
                }
                &__price {
                    float: left;
                    span {
                        font-size: 36px; line-height: 60px; color: $white;
                    }
                }
                &__weight, &__energy {
                    line-height: 60px;
                    .b-icon {
                        margin-right: 10px;
                        vertical-align: sub;
                    }
                    span {
                        display: inline-block;
                        font-size: 24px; color: $light-gray; font-weight: 400;
                        vertical-align: middle;
                    }
                }
                &__button {
                    text-align: center;
                    padding-bottom: 20px;
                }
                &__counter {
                    float: none;
                    margin: 0 auto;
                }
            }
        }
        .b-counter {
            width: 500px;
            &__controls {
                > span {
                    width: 190px;
                    border-radius: 30px;
                }
            }
        }
    }
}
