.b-header {
	color: $white;
	&__logo {
		text-align: center;
		a {
			@include image-container;

			display: inline-block;
		}
	}
	&__busket, &__menu {
		padding-top: 5px;
	}
	&__title {
		padding: 0 43px;
		h2 {
			padding-top: 92px;
			margin-bottom: 32px;
		}
	}
	&__menu {
		text-align: left;
		padding-left: 20px;
	}
	&__busket {
		text-align: right;
		padding-right: 20px;
		span {
			display: inline-block;
			font-size: 24px;
			vertical-align: middle;
			margin-right: 10px;
		}
		.b-icon { vertical-align: middle; }

		&.active {
			.b-icon {
				background-color: $white;
				border-color: $white;
			}
		}
		&.filled {
			.b-icon {
				background-color: $red;
				border-color: $red;
			}
		}
	}
	&__contacts {
		@include db-tabs;

		font-size: 42px; color: $light-gray;
		.b-icon { margin-right: 17px; }
	}


	.container {
	}

	.b-slider {
		position: relative; top: 0; left: auto;
		width: 100%;
		margin: 52px 0 5px 0;

		h2 { font-weight: 400; }
		&__container {
			height: 100px;
		}
		&__item {
			width: 250px;
			text-align: center;
			p { font-size: 24px; color: $light-gray; }
		}
		.owl-nav {
			display: none;
		}
	}
}